<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="FilePath8500" value="\\192.168.45.38\share\Annotation PDFs Creation_2016\New folder\OrgRef8500.xml" />
    <add key="FilePath9000" value="\\192.168.45.38\share\Annotation PDFs Creation_2016\New folder\OrgRef9000.xml" />
    <add key="MolImagesFolder" value="\\192.168.45.38\share\Annotation PDFs Creation_2016\New folder\MolImages" />
    <add key="PLUS_ICON" value="/Images/rxAdd.png" />
    <add key="ARROW_ICON" value="/Images/rxArrow.png" />
    <add key="rest_base_url" value="http://192.168.45.32/Reactions_Test"/>
    <add key="MONGO_USER" value="logger" />
    <add key="MONGO_PASSWORD" value="logger" />
    <add key="MONGO_URL" value="mongodb://192.168.45.32:27017" />
    <add key="UserManual" value="\\excelraws122\Share\RA_manuals_NGP\"/>
    <add key="APP_TYPE" value="Testing" />
  </appSettings>
</configuration>