
@{
    ViewBag.Heading = "Shipments";
}

@section head {
    <link href="~/Content/App/plugins/jqgrid/css/trirand/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/App/plugins/jqgrid/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .tanUpload {
            cursor: pointer;
        }
    </style>
}

<br />

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Manage Shipments</div>
                <div class="panel-body">
                    <table id="shipments"></table>
                    <div id="shipmentsPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="headingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action='@Url.Action("UploadTans")' enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="headingLabel">Upload Tans List</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="shipmentHiddenId" />
                    <input type="file" name="tanFile" accept=".csv" class="form-control" />
                    <div style="padding-top:5px">
                        <b>CSV File Format</b>: TAN | NUMs | SYNs | Size | Pages | Published-as-uri  |REG Msg
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Content/App/plugins/jqgrid/js/trirand/i18n/grid.locale-en.js"></script>
    <script src="~/Content/App/plugins/jqgrid/js/trirand/jquery.jqGrid.min.js"></script>
    <script type="text/javascript">

        $.jgrid.defaults.width = 1200;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';

        function errorMessage(response) {
            return '<i class="icon-remove" style="padding-left:10px"></i> ' + response.responseText;
        }

        function datePicker(element) {
            $(element).datepicker({
                dateFormat: 'dd-mm-yy'
            });
        }

        function tanLink(cellValue, options, rowdata, action) {
            return "<a shipment_id='" + rowdata.id + "' class='tanUpload'><i class='fa fa-upload'></i> Upload</a>";
        }

        function bindTanUpload() {
            $('.tanUpload').click(function (e) {
                e.preventDefault();
                var shipmentId = $(this).attr('shipment_id');
                $('#shipmentHiddenId').val(shipmentId);
                $('#uploadModal').modal('show')
            });
        }

        //*************************************************************Shipments
        $(document).ready(function () {
            $("#shipments").jqGrid({
                url: '@Url.Action("Shipments")',
                editurl: '@Url.Action("ShipmentsCrud")',
                datatype: "json",
                colModel: [
                    { name: 'Name', index: 'type', label: 'Name', width: 150, editable: true },
                    { name: 'ShipmentPath', index: 'type', label: 'Shipment Path', width: 150, editable: true },
                    {
                        name: 'ShipmentDate', index: 'type', label: 'Shipment Date', width: 100, editable: true,
                        editoptions: {
                            size: 20,
                            maxlengh: 10,
                            dataInit: datePicker
                        }
                    },
                    {
                        name: 'DelivaryDate', index: 'type', label: 'Delivary Date', width: 100, editable: true,
                        editoptions: {
                            size: 20,
                            maxlengh: 10,
                            dataInit: datePicker
                        }
                    },
                    {
                        name: 'CompletedDate', index: 'type', label: 'Completed Date', width: 100, editable: true,
                        editoptions: {
                            size: 20,
                            maxlengh: 10,
                            dataInit: datePicker
                        }
                    },
                    { name: 'tanCount', index: 'type', label: 'Tans Count', width: 80, editable: false },
                    { name: 'Tans', index: 'type', label: 'Upload Tans', width: 80, editable: false, formatter: tanLink }
                ],
                sortname: 'Code',
                sortorder: 'asc',
                viewrecords: true,
                height: 600,
                rowNum: 1000,
                pginput: false,
                pgbuttons: false,
                pager: "#shipmentsPager",
                caption: false,
                loadComplete: function () {
                    bindTanUpload();
                },
                postData: {
                    
                }
            });

            $('#shipments').navGrid('#shipmentsPager',
                    // the buttons to appear on the toolbar of the grid
                    {
                        edit: true,
                        add: true,
                        del: true,
                        search: false,
                        refresh: false,
                        view: false,
                        position: "left",
                        cloneToTop: false
                    },
                    // options for the Edit Dialog
                    {
                        editCaption: "Edit Product",
                        recreateForm: true,
                        checkOnUpdate: false,
                        checkOnSubmit: false,
                        closeAfterEdit: true,
                        editData: {
                            productId: function () {
                                
                            }
                        },
                        errorTextFormat: function (data) {
                            return 'Error: ' + data.responseText
                        }
                    },
                    // options for the Add Dialog
                    {
                        addCaption: 'Add Product',
                        closeAfterAdd: true,
                        recreateForm: true,
                        editData: {
                            productId: function () {
                                
                            }
                        },
                        errorTextFormat: function (data) {
                            return 'Error: ' + data.responseText
                        }
                    },
                    // options for the Delete Dailog
                    {
                        errorTextFormat: function (data) {
                            return 'Error: ' + data.responseText
                        }
                    });
        });
    </script>
}