<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DemoDBEntities" connectionString="metadata=res://*/BleBeem.csdl|res://*/BleBeem.ssdl|res://*/BleBeem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.45.32;initial catalog=Reactions_Temp;persist security info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Reactions_TestEntities" connectionString="metadata=res://*/BleBeem.csdl|res://*/BleBeem.ssdl|res://*/BleBeem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.45.32;initial catalog=Reactions_Test;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  




  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  />

    <diagnostics wmiProviderEnabled="true">
    </diagnostics>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" maxBufferSize="214748367" maxReceivedMessageSize="214748367" ></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>

    <services>

      <service name="BlueService.Service" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="BlueService.Service.IBlueData"
		bindingConfiguration="myBinding" behaviorConfiguration="web">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!--<binding name="myBinding" maxReceivedMessageSize="65536" closeTimeout="00:01:00" openTimeout="00:01:00"
receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferSize="2147483647"  >
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647"  />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>-->

        <binding name="myBinding" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>

        
      </webHttpBinding>
    </bindings>
    

  </system.serviceModel>
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
