<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Bluebeampath" value="C:\Program Files\Bluebeam Software\Bluebeam Revu\Revu\Revu.exe"/>
    <add key="folderpath" value="D:\Sharinng\New folder\34459652S\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBlueData" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.45.29/BlueBeem/BlueService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlueData"
        contract="BlueBeamService.IBlueData" name="BasicHttpBinding_IBlueData" />
    </client>
  </system.serviceModel>
</configuration>